@{
    ViewData["Title"] = "Узнать диагнос питомца онлайн";
    ViewData["Header_1"] = "Узнайте последние результаты обследования прямо сейчас!";
    ViewData["Header_2"] = "О нас";
    ViewData["Header_3"] = "Наши преимущества";
    ViewData["Header_4"] = "Наши сотрудники";
}

<div class="container-fluid p-0 bg-blue-light">
    <section>
        <div class="bg-image">
            <img src="/img/cat.jpg" class="w-100" />
            <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                <h3 class="mt-1 text-center"> @ViewData["Title"] </h3>
                <h4 class="mt-2 text-center text-light"> @ViewData["Header_1"] </h4>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div>
                <section class="overflow-hidden">
                    <div class="mt-5 text-center" style="color: #2C3053">
                        <h3 class="fs-1 mt-3"> @ViewData["Header_2"] </h3>
                    </div>
                    <div>
                        <p class="fs-2 mt-5" style="color: #2C3053" align="center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan diam felis, nec varius dolor luctus sed. Ut consequat sit amet arcu non rhoncus. Sed at odio sollicitudin, dapibus nisi eu, facilisis ex. Vivamus eget nunc non metus vestibulum tempor. Quisque rhoncus dolor a sem elementum lacinia. Nam ac ante in tortor dignissim sodales. Aenean mattis iaculis ligula. <br /> </p>
                    </div>
                </section>
                <section class="container-fluid">
                    <div class="mt-2 text-center" style="color: #2C3053">
                        <h3 class="fs-1 mt-9"> @ViewData["Header_3"] </h3> 
                    </div>
                    <div class="container-fluid">
                        <div class="me-lg-0 me-sm-5 mt-5 row justify-content-between overflow-hidden">
                            <div class="col-sm-8">
                                <div class="card border-1 border-dark h-100">
                                    <div class="row g-0">
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This is a wider card with supporting text below as a natural lead-in to
                                                    additional content. This content is a little bit longer.

                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 rounded-2 align-item-strech">
                                            <img src=" img\index-www.jpg"
                                                 alt="Trendy Pants and Shoes"
                                                 class="img-fluid rounded-start bg-image h-100" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card mb-3 border-1 border-dark h-100">
                                    <div class="row g-0">
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This is a wider card with supporting text below among ass
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="me-lg-0 me-sm-5 row justify-content-between my-2">
                            <div class="col-sm-4">
                                <div class="card mb-3 border-1 border-dark h-100">
                                    <div class="row g-0">
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This is a wider card with supporting text below among ass
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card border-1 border-dark h-100">
                                    <div class="row g-0">
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This is a wider card with supporting text below as a natural lead-in to
                                                    additional content. This content is a little bit longer.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 rounded-2 align-item-strech">
                                            <img src=" img\index-www.jpg"
                                                 alt="Trendy Pants and Shoes"
                                                 class="img-fluid rounded-start bg-image h-100" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <section class="container marketing">
                <div class="mt-5 text-center" style="color: #2C3053">
                    <h3 class="fs-1 mt-9"> @ViewData["Header_4"] </h3>
                </div>
                <div class="row mt-5 ">
                    <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                        <h2 class="fw-normal" style="color: #2C3053">Heading</h2>
                        <p style="color: #2C3053">Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                    </div>
                    <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                        <h2 class="fw-normal" style="color: #2C3053">Директор</h2>
                        <p style="color: #2C3053">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                    </div>
                    <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                        <h2 class="fw-normal" style="color: #2C3053">Heading</h2>
                        <p style="color: #2C3053">And lastly this, the third column of representative placeholder content.</p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
<section style="background-color: #33354A">
    <div class="container">
        <div class="pt-5 ms-5" style="color: #BCBED3">
            <h3 class="fs-1">
                Не откладываете лечение! </br>
                Приходите, мы всегда рады вам помочь!
            </h3>
        </div>
        <hr style="color: #BCBED3" />
        <h7 class="ms-5" style="color: #BCBED3">  Часы работы: 8:00 - 19:00 ежедневно </br> </h7>
        <h7 class="ms-5" style="color: #BCBED3"> Наш адрес: 440066 , Россия, г Пенза </br> </h7>
        <h7 class="ms-5" style="color: #BCBED3"> Телефон для связи: +7 (910) XXX XX XX </h7>
        <div>
            <iframe class="m-5" style="border:0; width: 75vw ; height: 35vw " allowfullscreen="" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10521.219749954029!2d43.97711266329202!3d56.33303960962403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1752f9019669ca0d!2zNTbCsDIwJzA0LjYiTiA0M8KwNTknMTIuOSJF!5e0!3m2!1sru!2sru!4v1668340694903!5m2!1sru!2sru" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>





